
<div class="container-fluid animated slideInLeft" id="team" >
    <div class="col-lg-12 offset-lg-11">
        <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home fa-3x" aria-hidden="true"></i></a>
    </div>
    @{
        ViewData["Title"] = "Mitchell Tax Group";
    }
    <h4 class="text-lg-center">@ViewData["Title"]</h4>
    <h2 class="text-lg-center">@ViewData["Message"]</h2>



    <p id="words">
        Mitchell Tax Group has been helping tax clients for over 15 years with resolution assistance, tax preparation and planning. <br />Working with one of the nation’s largest tax firms. Mitchell Tax Group has members of the National and South Carolina Associations of Enrolled Agents.

        As seasoned tax professionals, Mitchell Tax Group has helped thousands of individuals, families and businesses solve their tax matters. <br /> Our years of experience and on-going tax education help solve the most complex tax issues and disputes. As Enrolled Agents with the IRS, Mitchell Tax Group has represented taxpayers not only in South Carolina, but throughout the US.
           <br /><b>
           What is an EA?
          </b><br />
        An Enrolled Agent (or EA) is a federally authorized tax practitioner empowered by the U.S. Department of the Treasury to represent taxpayers before the Internal Revenue Service (IRS) and state taxing authorities for audits, collections, appeals and various IRS controversies.  <br /> An Enrolled Agent has earned the privilege of representing taxpayers before the Internal Revenue Service by either passing a three-part comprehensive IRS test covering individual and business tax returns, or through experience as a former IRS employee. <br /><b>Enrolled agent status is the highest credential awarded by the IRS.</b> Unlike attorneys and CPAs who may not choose to specialize in taxes,<br /><b> all EA’s specialize in taxation</b>.
        <br />
        Enrolled Agents provide tax preparation, representation, tax planning and other financial services to millions of individual and business taxpayers. EAs adhere to a code of ethics and professional conduct and are required by the IRS to complete annual continuing professional education.<br />
        Like attorneys and certified public accountants (CPAs), Enrolled Agents are governed by Treasury Circular 230 in their practice before the IRS and have unlimited practice rights.
    </p>

    <div class="col-lg-12 offset-lg-11">
        <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i></a>
    </div>

</div>
