
<div class="container-fluid animated slideInLeft" id="team">
    <div class="col-lg-12 offset-lg-11">
        <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home fa-2x" aria-hidden="true"></i>home</a>
    </div>

    @{
        ViewData["Title"] = "Mitchell Tax Group";
    }
    <h4 class="text-lg-center">@ViewData["Title"]</h4>
    <h2 class="text-lg-center">@ViewData["Message"]</h2>

    <p id="words6">

        <b>What is an IRS audit?</b><br />

        An IRS audit is a review/examination of an organization's or individual's accounts and financial information to ensure information is being reported correctly, according to the tax laws, to verify the amount of tax reported is accurate.<br /><br />

        <b>Selecting a return for audit does not always suggest that an error has been made. Returns are selected using a variety of methods, including:</b><br />

        Random selection and computer screening - sometimes returns are selected based solely on a statistical formula.
        Document matching - when payor records, such as Forms W-2 or Form 1099, do not match the information reported.<br />
        Related examinations - returns can be selected for audit when they involve issues or transactions with other taxpayers, such as business partners or investors, whose returns were selected for audit.<br />

        During this process the IRS and/or state taxing agency wants to see proof of the type of income and expenses claimed (in the form of invoices, receipts, bank statements and etc) to determine the income and the expenses that were listed are valid.<br />

        If you are faced with IRS audit or state tax audit, it is in your interest to have a qualified tax professional to represent your interests.  We represent individuals and individuals to minimize any potential tax increase.<br /><br />

        <b>Audit Reconsideration</b><br />

        An Audit Reconsideration is the process the IRS uses to reevaluate the results of a prior audit where additional tax were assessed and remains unpaid, or a tax credit was reversed. If the taxpayer disagrees with the original determination, he/she must provide information that were not previously considered during the original examination. When contesting a Substitute for Return (SFR) determination filed by the IRS, a taxpayer can request this process by filing an original delinquent return.<br /><br />

        <b>Reasons for a Request:</b><br />
        <ul>
            <li>You did not appear for the audit.</li>
            <li>You moved and did not receive the correspondence from the IRS.</li>
            <li>You have new documentation to present.</li>
            <li>You disagree with an audit assessment from an audit of his/her return and have additional document.</li>
            <li>You disagree with an assessment created under the authority of IRC Section 6020(b), Substitute for Return (SFR).</li>
            <li>You have been denied tax credits such as EITC claimed, during prior examination.</li>
        </ul><br />

         <b>Criteria for Reconsideration:</b><br /><br />
            <ul>
              <li>The taxpayer must have filed a tax return.</li>
              <li>The assessment remains unpaid or the Service has reversed tax credits that the taxpayer is disputing.</li>
              <li>The taxpayer must identify which adjustments he/she is disputing.</li>
              <li>The Taxpayer must provide additional information not considered during the original examination.</li>
            </ul><br />

        <a asp-area="" asp-controller="Home" asp-action="Contact">
            <b>If any of these situations pertains to you, please contact us for a consultation..</b>
        </a>
    </p>
</div>



