
<div class="container-fluid animated slideInLeft" id="team">
    <div class="col-lg-12 offset-lg-11">
        <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home fa-2x" aria-hidden="true"></i>home</a>
    </div>

    @{
        ViewData["Title"] = "Mitchell Tax Group";
    }
    <h4 class="text-lg-center">@ViewData["Title"]</h4>
    <h2 class="text-lg-center">@ViewData["Message"]</h2>

    <p id="words3">

        <b>Offer In Compromise </b><br />

        An offer in compromise is an agreement between a taxpayer and the IRS that resolves the taxpayer's tax debt. The IRS has the authority to settle, or "compromise," federal tax liabilities by accepting less than full payment under certain circumstances.<br/><br/>

        <b>A tax debt can be legally compromised for one of the following reasons:</b>
          <ul> 
             <li>Doubt as to Liability - Doubt exists that the assessed tax is correct.</li>
             <li>Doubt as to Collectibility - Doubt exists that you could ever pay the full amount of tax owed.</li>
             <li>Effective Tax Administration - There is no doubt the tax is correct, and no doubt that the amount owed could be collected, but an exceptional circumstance exists. To be eligible for a compromise on this basis, the taxpayer must demonstrate that collection of the tax would create an economic hardship or would be unfair and inequitable.
             </li>
          </ul>
        <br/>

        <b>Before we can consider you as an OIC candidate, you must be current with all filing and payment requirements. You are not eligible if you are in an open bankruptcy proceeding. Call us to see if you are eligible for an OIC.</b><br/><br/>

        <a asp-area="" asp-controller="Home" asp-action="Contact">
            <b> Please Contact Us , We can Help!</b>
        </a>
    </p>
</div>
