
<div class="container-fluid animated slideInLeft" id="contact">
    <div class="col-lg-12 offset-lg-11">
        <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i></a>
    </div>

    @{
        ViewData["Title"] = "Mitchell Tax Group";
    }
    <h4 class="text-lg-center">@ViewData["Title"]</h4>
    <h1 class="text-lg-center" id="messagesub">@ViewData["Message"]</h1>



    <div class="form-group row text-lg-center" id="contactinfo">
        <label for="example-text-input" class="col-xs-2 col-form-label">Company</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" value="Mitchell Tax Group" id="example-text-input">
        </div>
    </div>

    <div class="form-group row text-sm-center" id="contactinfo">
        <label for="example-email-input" class="col-xs-2 col-form-label">Email</label>
        <div class="col-xs-3">
           <button type="button" class="btn btn-secondary  btn-md form-control-static mb-0"><a href="mailto:Support@example.com">Support@example.com</a></button>   
        </div>
    </div>

    <div class="form-group row text-lg-center" id="contactinfo">
        <label for="example-tel-input" class="col-xs-2 col-form-label">Telephone</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" placeholder="(843)552-2454" id="disabledInput">
        </div>
    </div>

    <div class="form-control-lg" type="text" placeholder=".form-control-lg">
        <address>
            <h3>Mitchell Tax Group:</h3>
            8484 Dorchester Rd B2<br />
            North Charleston SC 29456<br />
        </address>
    </div>
</div>

  
