
<div class="container-fluid animated slideInLeft" id="contact">
    <div class="col-lg-12 offset-lg-11">
        <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home fa-2x" aria-hidden="true"></i>home</a>
    </div>

    @{
        ViewData["Title"] = "Mitchell Tax Group";
    }
    <h4 class="text-lg-center">@ViewData["Title"]</h4>
    <h2 class="text-lg-center" id="messagesub">@ViewData["Message"]</h2>


    
    <form class="cf">
    <div class="form-group half left cf">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control inputbutton" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group half left cf">
        <label for="exampleInputPassword1">Subject</label>
        <input type="password" class="form-control inputbutton" id="exampleInputPassword1" placeholder="Subject">
    </div>

    <div class="form-group half left cf">
        <label for="exampleTextarea">Message</label>
        <textarea class="form-control inputbutton" id="exampleTextarea" rows="3">Message</textarea>
    </div>
        <div class="form-group half left cf">
            <button type="submit" class="btn btn-primary btn-lg" id="input-submit">Submit</button>
        </div>
</form>


    <div class="form-control-lg" type="text" placeholder="form-control-lg">
        <div class="container-fluid">
            <h2 class="text-md-center">Mitchell Tax Group:</h2><br />
            <h5 class="text-md-center">
                8484 Dorchester Rd B2<br /><br />
                North Charleston SC 29456<br />
            </h5><br />
            <div class="text-lg-center form-control-sm container-fluid">
                <i class="fa fa-volume-control-phone fa-2x" aria-hidden="true">843-552-2454</i>&emsp;&emsp;&emsp;
                <i class="fa fa-fax fa-2x" aria-hidden="true">843-552-2118</i><br /><br />
                <div class="col-xs pull-xs-0 row" id="babyimage2">
                    <img src="~/images/irslogo9.png" alt="IRS logo" data-respond asp-append-version="true" />
                </div>
            </div>
        </div><br /><br /> 
    </div>
</div>

  
