
<div class="container-fluid animated slideInLeft" id="team">
    <div class="col-lg-12 offset-lg-11">
        <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home fa-2x" aria-hidden="true"></i>home</a>
    </div>
    @{
        ViewData["Title"] = "Mitchell Tax Group";
    }
    <h4 class="text-lg-center">@ViewData["Title"]</h4>
    <h2 class="text-lg-center">@ViewData["Message"]</h2>

    <p id="words">
        There are several types of Installment Agreement options available. The Installment Agreement allows you to make monthly payment to the IRS and/or state taxing authorities until the debt is satisfied/paid in full or expires.  Generally, an individual will owe the IRS for 10 years from the date the balance was assessed.  This is subject to change if there were any additional assessment or changes that occurred after filing the returns.  The state debt is typically collectible for 20 years however this varies from state to state.<br /><br />

        If you owe less than $50,000 in income tax, you will qualify for what is known as a streamline installment agreement. The IRS will grant a IRS payment plans for a monthly amount that will full pay the balance within 72 months without reviewing the taxpayer’s financial situation.  If you are not able to agree to payment of such, we can provide full financials to determine what amount a taxpayer can pay.<br /><br />

        If you owe more than $50,000, the IRS will request a full financial overview of your financial situation. Taxpayer’s must complete form 433A, Collection Information for Wages Earners & Self- Employed Individuals and businesses are to complete form 433B, Collection Information for Businesses.<br /><br />

        If you owe more than $100,000 in income tax, your account will be assigned to the Large Dollar Unit. This unit has specialized rules and procedures that differs from the regular IRS collections unit. IRS has recently directed that most large dollar liabilities will go to the field. In most cases, high dollar cases will be assigned and worked by an assigned Revenue Officer.<br /><br />

        Different rules apply for employment taxes. Delinquent employment taxes are likely to be assigned to a Revenue Officer, for collection and require immediate attention.<br /><br />

        <a asp-area="" asp-controller="Home" asp-action="contact"><b>“Give us a call.”</b></a> We can guide you to make sure that a payment plan is the best possible tailored for your circumstance, complete the necessary financial statements, and help settle differences between you and the IRS regarding financial calculations that are used to determine your ability to pay.
    </p>
</div>