
<div class="container-fluid animated slideInLeft" id="team">
    <div class="col-lg-12 offset-lg-11">
        <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home fa-2x" aria-hidden="true"></i>home</a>
    </div>
    @{
        ViewData["Title"] = "Mitchell Tax Group";
    }
    <h4 class="text-lg-center">@ViewData["Title"]</h4>
    <h2 class="text-lg-center">@ViewData["Message"]</h2>

    <p id="words2">

        <b>Levy Release</b><br /><br />

        A levy is a legal seizure of your property to satisfy a tax debt. Levies are different from liens. A lien is a claim used as security for the tax debt, while a levy actually takes the property to satisfy the tax debt.<br />

        If you do not pay your taxes (or make arrangements to settle your debt), the IRS may seize and sell any type of real or personal property that you own or have an interest in.  When salary and/or wages are garnished, this is reoccurring unless levy is released due to the following:<br />
        <ul>
           <li>Levy is creating an economic hardship</li> 
           <li>You pay your tax debt, or</li>
           <li>The time expires for legally collecting the tax</li>
        </ul><br />
      
        When the IRS levies your bank account, your bank must hold funds you have on deposit, up to the amount you owe, for 21 days. This holding period allows time to resolve any issues about account ownership. After 21 days, the bank must send the money plus interest, if it applies, to the IRS. To discuss your case, call the IRS employee whose name is shown on the Notice of Levy.<br /><br />

        <b>Abatement of Penalty</b><br /><br />

        Penalty Abatement- The IRS assesses a number of penalties on a tax account including late filing, late paying, and accuracy/negligence penalties. These penalties may sometimes increases the actual principal owed on old tax debts. There are a number of provisions to abate these penalties. Penalty abatement is very specific and we can advise you if you qualify for this relief.  There are six reasons for abatement. <br /><br />

        <a asp-area="" asp-controller="Home" asp-action="Contact">
            <b> Please Contact Us , We can Help!</b>
        </a>
    </p>
</div>
