
<div class="container-fluid animated slideInLeft" id="team">
    <div class="col-lg-12 offset-lg-11">
        <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home fa-2x" aria-hidden="true"></i>home</a>
    </div>

    @{
        ViewData["Title"] = "Mitchell Tax Group";
    }
    <h4 class="text-lg-center">@ViewData["Title"]</h4>
    <h2 class="text-lg-center">@ViewData["Message"]</h2>

    <p id="words7">

        <b>Lien Release</b><br /><br />

        A Federal Tax Lien is the federal government’s legal claim against your property when you fail to pay a tax debt. Federal Tax Liens are public records that indicate you owe the IRS various taxes.  They are filed with the County Clerk in the county from which you reside and will be recorded on your credit report.<br /><br />

        A Release of lien occurs after the underlying tax liability has been satisfied in full, via a monthly payment agreement or by paying it outright in a lump sum, or via an accepted and paid Offer In Compromise.  Most Liens are generally self-releasing after 10 years.  The IRS will release liens if the taxpayer meets certain qualification(s) while on an Installment Agreement. <br /><br /> 

        <a asp-area="" asp-controller="Home" asp-action="Contact">
            <b>Please contact us for your free consultation.</b>
        </a>
    </p>
</div>




