
<div class="container-fluid animated slideInLeft" id="team">
    <div class="col-lg-12 offset-lg-11">
        <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home fa-2x" aria-hidden="true"></i>home</a>
    </div>

    @{
        ViewData["Title"] = "Mitchell Tax Group";
    }
    <h4 class="text-lg-center">@ViewData["Title"]</h4>
    <h2 class="text-lg-center">@ViewData["Message"]</h2>
    
    <p id="words4">
        <b>Currently Non Collectible Status</b><br />

           Currently Not Collectible status is when it has been determine by the review of your financials that you have the inability to pay your IRS and/or state debt(s). Being currently not collectible status does not mean the debt goes away. It means that the IRS has determined you cannot afford to pay the debt at this time. Penalties and interest will continue to be added to the debt. This may be temporary solution until your financial condition improves or to release a levy to your wages.  While in this status you may be asked to provide financial information on, an annual basis to confirm that your finances still remains in this state.  During this process, we will review all options to determine if this is the best option for you. In cases where the collections statute expiration date is approaching, CNC can be the best option since filing for an offer-in-compromise will extend the statute of limitations.<br />
            We can help place you on Currently Not Collectible Status<br /><br />


        <b>Abatement of Penalty</b><br /><br />

        Penalty Abatement- The IRS assesses a number of penalties on a tax account including late filing, late paying, and accuracy/negligence penalties. These penalties may sometimes increases the actual principal owed on old tax debts. There are a number of provisions to abate these penalties. Penalty abatement is very specific and we can advise you if you qualify for this relief.  There are six reasons for abatement. <br /><br />

        <a asp-area="" asp-controller="Home" asp-action="Contact">
            <b> Please Contact Us , We can Help!</b>
        </a>
    </p>
</div>

