
<div class="container-fluid animated slideInLeft" id="team">
    @{
        ViewData["Title"] = "Mitchell Tax Group";
    }
    <h4 class="text-lg-center">@ViewData["Title"]</h4>
    <h2 class="text-lg-center">@ViewData["Message"]</h2>
    <br/>
    <b>Print out the following checklist before you come to see us:</b><br />
    To ensure that we have everything we need to process your tax return quickly, make sure that you bring EVERYTHING THAT APPLIES to your situation.<br />
    Here's the short, less complicated tax return list:<br />
    <ul>
        <li>Prior year tax return (New Customers)</li>
        <li>Drivers license for taxpayer and spouse</li>
        <li>Social Security cards and  Birth Certificate for all dependents as well as taxpayer and spouse (or make sure you have the correct numbers).  2 source of identification for dependents (school IDs, medical insurance card and etc.)</li>
        <li>W-2's</li>
        <li>Forms 1099-Misc. Independent Contractor income</li>
        <li>Please review the rest of this list to see if anything applies to your tax situation:</li>
        <li>All 1099-INT, 1099-DIV, 1099-B, 1099-PATR, 1099-R (pension and annuity income) statements</li>
        <li>Unemployment compensation Form 1098-G (this may vary by state) Bring in whatever form the state uses to report unemployment compensation benefits.</li>
        <li>1099-SA for Social Security Benefits Statement</li>
        <li>Mortgage interest statement</li>
        <li>Real Estate Tax and Personal Property Tax Statements</li>
        <li>Income and Expenses from a business you own</li>
        <li>Basis of stocks sold</li>
        <li>Form 8832 or Divorce decree for non-custodial parent claiming a dependent child</li>
        <li>Schedule K-1 from partnership, s-corporation, or a trust</li>
        <li>Rent income and expenses for rental units</li>
        <li>Non-resident Aliens need to bring in their Visa and Passport and any work authorization documentation</li>
        <li>Estimated tax payment amounts</li>
        <li>Alimony paid and received</li>
        <li>If you refinanced your home bring closing documents from title company</li>
        <li>If part-year Minnesota resident need the dates you moved into the state and the dates in other states if we are going to prepare the other state returns.</li>
        <li>Any and all cash and non-cash donation that were made</li>
        <li>Daycare Statement sowing the total paid w/ your name and centers information</li>
        <li>Self- Employed/Business - Bank Statements</li>
    </ul>

    <h1 class="text-lg-center">Set Up An Appointment: Call (843)552-2454</h1>
</div>