@{
    ViewData["Title"] = "Something Went Wrong!!!";
}

<div class="container">

    <img src="~/images/thinking-272677_1280.jpg" alt="man thinking" id="bg" data-respond asp-append-version="true" />

    <h1 class="text-danger" id="error">Yelp You Did Something Wrong! <br />  Lets Try it Again</h1>
    
</div>