


                                /************************ HOME Page ****************************/


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.wordcard{

    font-family:Verdana;
    padding:15px 15px;
    height: 200px;
    max-height: 200px;
    overflow-y: scroll;
   
}

#mtg {

	background-image:url("../images/shutterstock5.jpg");
    background-repeat:no-repeat no-repeat;
	background-size:cover;
    background-attachment:fixed;
    background-position:top center;
    margin-bottom:150px;
    margin-top:50px;
}


#info{

    margin-top:50px;
    font-size: 15px;
    font-family:Verdana;
}

#infotitle{
  
    font-size: 5em;
    margin-top:10px;
}

#title{

    font-size:32px;
    padding-bottom: 2px;
}

#sub{
    margin-top:-5px;
    padding-top:-2px;
    color:red;
}


#babyimage {
    margin-top: 90px;
    background-color:none;
    opacity: 2;
    border-style:none;
   
}

#babyimage2 {
   
    background-color: none;
    margin-bottom:20px;
    opacity: 8;
}

.text-lg-center{

  margin-right:20px;
}

#headingfour {

    margin-bottom:40px;
}
         
#foot {

    color:white;
    margin-top:10px;
    margin-bottom:1px;
    padding-bottom:1px;
}

/* Wrapping element*/
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
   
}



/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}


                             /************************ About Page ************************/
#team{

    background-color:lightgrey;
    margin-top:85px;
    line-height:2em;
    border-radius: 25px;
}

#teaminfo{

    height: 500px;
    max-height: 500px;
    overflow-y: scroll;
}

#words{

    font-family:Verdana;
    padding:15px 15px;
    height: 500px;
    max-height: 500px;
    overflow-y: scroll;
}


                               /************************ Contact Page ************************/
#contact{

    background-color:lightgrey;
    margin-top:85px;
    line-height:2em;
    border-radius: 25px;
}

#contactinfo{

    margin-top:40px;
}


#messagesub {
    font-size: 4em;
}

#input-submit {
    color: white;
    background: red;
    cursor: pointer;
    width: 225px;
    border-radius: 25px;
    box-shadow: 0 1px 1px 1px 0.6px;
}
 
textarea {
      height: 126px;
  }


*:before, 
*:after {
 box-sizing:border-box; 
}

.inputbutton{

    border-radius:10px;
}

.container-fluid{

    background-color:white;
    padding-bottom:30px;
}

form {
    max-width: 600px;
    margin: 20px auto;
    border-radius: 8px;
    border: 0;
    outline: 0;
    padding: 1em;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    box-shadow: 0 1px 1px black, 0.1px;
    resize: none;
}
    
 form:focus {
      box-shadow:0 0px 2px red, 1px;
    }
                                    /* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}



                              /************************ Compromise Page ***********************/

#words3{ 

    font-family:Verdana;
    padding:15px 15px;
    

}

                                   /************************ IRS Levy Page ***********************/

#words2{
   
    font-family:Verdana;
    padding:15px 15px;
    
}


                                 /************************ NoneCollectible Page ***********************/
#words4{
   
    font-family:Verdana;
    padding:15px 15px;
}


                                  /************************ InjuryRelief Page ***********************/
#words5{
   
    font-family:Verdana;
    padding:15px 15px;    
}


                                  /************************ Audit Page ***********************/

#words6{
   
    font-family:Verdana;
    padding:15px 15px;    
}

